
.ant-tabs-nav.ant-tabs-nav-animated{
    width:75%;
}
.ant-tabs-tab{
width:22%;
text-align: center;
color:black;
}
.ant-tabs-nav .ant-tabs-tab-active {
    color:#4ad3b3;   
}
.ant-tabs-ink-bar-animated{
    background-color:#4ad3b3;
    pointer-events: none;
}
.ant-tabs-nav .ant-tabs-tab:hover{
    color:#4ad3b3;
}


