#col{
  padding: 2px;
  box-shadow: 0px 11px 40px -1px #dee0df;
  margin-top: 5%;
}


#login-form-button{
  height: 50px;
  width:100%;
  background-color: #4ad3b3;
  color: white;
}

#register-form-button{
  height: 50px;
  width: 100%;
  background-color: #4ad3b3;
  color: white;
}

.my-div .ant-row{
  width:100%;
}

.my-div .ant-form-item-control-wrapper{
  width:100%;
}

input[type="text"]{
  height: 40px;
}

input[type="password"]{
  height: 40px;
}

input[type="email"]{
  height: 40px;
}

input[type="number"]{
  height: 40px;
}

#links{
  text-align: center;
}

#content{
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 15px;
  color:black;
}

#errorMessage{
  text-align: center;
}

#fix{
  display: inline-block;
  width: 48%;
}

#text-calendar{
  
  background-color: #4ad3b3;
  border-radius: 3px;
  padding: 4%;
}


#feb{
  margin-top:7%;
}
#col-calendar{
  padding-bottom: 20px;;
  box-shadow: 0px 11px 40px -1px #dee0df; 
  margin-bottom:20px; 
}

#text-inquiries{
  margin-top: 9%;
  margin-left: 9%;
  font-size: 40px;
  color: black;
  margin-right: 9%;
}
#profile-icon{
  float:right;
  
}
