#col{
  padding: 2px;
  box-shadow: 0px 11px 40px -1px #dee0df;
  margin-top: 5%;
}


#login-form-button{
  height: 50px;
  width:100%;
  background-color: #4ad3b3;
  color: white;
}

#register-form-button{
  height: 50px;
  width: 100%;
  background-color: #4ad3b3;
  color: white;
}

.my-div .ant-row{
  width:100%;
}

.my-div .ant-form-item-control-wrapper{
  width:100%;
}

input[type="text"]{
  height: 40px;
}

input[type="password"]{
  height: 40px;
}

input[type="emaild"]{
  height: 40px;
}

input[type="number"]{
  height: 40px;
}

#links{
  text-align: center;
}

#content{
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 30px;
  padding-bottom: 20px;
}

#errorMessage{
  text-align: center;
}

#fix{
  display: inline-block;
  width: 48%;
}


#professionalSince{
width: 48%;
min-width: 220px;
display: inline-block;
/* float: left; */
margin-right: 1.5%
}

#freelancerSince {
  width: 48%;
  min-width: 220px;
  display: inline-block;
  /* float: left; */
}
