#col{
  padding: 2px;
  box-shadow: 0px 11px 40px -1px #dee0df;
  margin-top: 5%;
  color: white;
}


#login-form-button{
  height: 50px;
  width:100%;
  background-color: #4ad3b3;
  color: white;
}

#register-form-button{
  height: 50px;
  width: 100%;
  background-color: #4ad3b3;
  color: white;
}

#about-Container .ant-row{
  width:100%;
}

#about-Container .ant-form-item-control-wrapper{
width:100%;

}

#register-Container .ant-row{
  width:100%;

}

#register-Container .ant-form-item-control-wrapper{
  width:100%;
}


input[type="text"]{
  height: 40px;
}

input[type="password"]{
  height: 40px;
}

input[type="email"]{
  height: 40px;
}

input[type="number"]{
  height: 40px;
}

#links{
  text-align: center;
}

#content{
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 15px;
  color:black;
}

#errorMessage{
  text-align: center;
}

#fix{
  display: inline-block;
  width: 48%;
}

#professionalSince{
width: 48%;
min-width: 220px;
display: inline-block;
margin-right: 1.5%
}

#freelancerSince {
  width: 48%;
  min-width: 220px;
  display: inline-block;
}

#text-calendar{
  
  background-color: #4ad3b3;
  border-radius: 3px;
  padding: 4%;
}


#feb{
  margin-top:7%;
}
#col-calendar{
  padding-bottom: 20px;;
  box-shadow: 0px 11px 40px -1px #dee0df; 
  margin-bottom:20px; 
}
#text-inquiries{
  margin-top: 9%;
  margin-left: 9%;
  font-size: 40px;
  color: black;
  margin-right: 9%;
}
#profile-icon{
  float:right;
}
#signalment-Input-Distance{
  width: 45%;
  margin-left: 10%;
  display: inline-block;
}
#signalment-Input-Location{
  width: 45%;
  display: inline-block;
}

#signalment-h4{
    display:inline-block;
}

#signalment-Switch{
  float:right;

}
#mycv-Container .ant-row{
  width:100%;
}

#mycv-Container .ant-form-item-control-wrapper{
width:100%;
}
#addEmployer{
  background-color: rgba(80,80,80,.1);
  padding:12px;
  margin-top: 8px
}
#addEmployerCityDetails{
  display:inline-block;
  width:48%;
  margin-right:4px
}
#addEmployerStartdate{
  display:inline-block;
  width:23%;
  margin-right:4px
}
#addEmployerEnddate{
  display:inline-block;
  width:23%
}
#close{
  float:right
}
#fix-item{
 margin-left: 2%;
 display: inline-block;
 width: 48%;
}

