#col{
  padding: 2px;
  box-shadow: 0px 11px 40px -1px #dee0df;
  margin-top: 5%;
  color: white;
}


#login-form-button{
  height: 50px;
  width:100%;
  background-color: #4ad3b3;
  color: white;
}

#register-form-button{
  height: 50px;
  width: 100%;
  background-color: #4ad3b3;
  color: white;
}

#about-Container .ant-row{
  width:100%;
}

#about-Container .ant-form-item-control-wrapper{
width:100%;
}

#register-Container .ant-row{
  width:100%;
}

#register-Container .ant-form-item-control-wrapper{
  width:100%;
}


input[type="text"]{
  height: 40px;
}

input[type="password"]{
  height: 40px;
}

input[type="email"]{
  height: 40px;
}

input[type="number"]{
  height: 40px;
}

#links{
  text-align: center;
}

#content{
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 30px;
  padding-bottom: 20px;
}

#errorMessage{
  text-align: center;
}

#fix{
  display: inline-block;
  width: 48%;
}

#text-calendar{
  
  background-color: #4ad3b3;
  border-radius: 2px;
  padding: 4%;
}


#feb{
  margin-top:7%;
}
#col-calendar{
  padding-bottom: 20px;;
  box-shadow: 0px 11px 40px -1px #dee0df; 
  margin-bottom:20px; 
}

#signalment-Input-Distance{
  width: 45%;
  margin-left: 10%;
  display: inline-block;
}
#signalment-Input-Location{
  width: 45%;
  display: inline-block;
}

#signalment-h4{
    display:inline-block;
}

#signalment-Switch{
  float:right;

}
#mycv-Container .ant-row{
  width:100%;
}

#mycv-Container .ant-form-item-control-wrapper{
width:100%;
}
